body::before{
    content:"";
    display: block ;
    height: 60px ;
}

.heading-2::after{
    content: '';
    display: block;
    background-color: green;
    height: 3px;
    width: 100px;
    margin: 15px auto;
    border-radius: 10px;
}
section{
    padding: 90px 0;
}
.meal-1,
.meal-2{
    margin-top: -18px;
}